body {
    background-image: url("./img/pageBackground.png");
    background-size:cover;
    background-repeat: no-repeat;
}

.page-logo {
    width: 130px;
    height: 40px;
    margin-left: 130px;
    margin-top: 20px;
}

a {
    text-decoration:none;
    color: white;
    font-size: 20px;
}

nav {
    margin-left: 345px;
    word-spacing: 50px;
    margin-top: 20px;
}

.quadrado {
    width: 150px;
    margin-left: 124px;
    margin-top: 90px;
}

p.ex1{
    font-size: 97px;
    color: white;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0;
}

p.ex2{
    margin-top: 0;
    font-size: 30px;
    color: white;
    margin-left: 100px;
}

p.ex3{
    width: 77px;
    color: white;
    border: solid 10px #003300 ;
    background-color: #003300;
    margin-left: 100px;
}

div.navegacao {
    display: flex;
}

.text{
    width: 690px;
}

div.imgIncluso {
    display: flex;
    width:1300px;
}

.circulos {
    width: 300px;
    height: 300px;
    margin-left: 300px;
    margin-top: 55px;
}

.icones {
    width: 70px;
    height: 25px;
    margin-left: 100px;
    margin-top: 20px;
}
